 <section id="user-add">

 </section>
    <div class="container">
       <div class="col-md-10 from-style-m">
          <form>
             <h2>Contact Us</h2>
             <div class="row ">
                <div class="col-md-6">
                   <div class="form-group">
                      <label for="first">First Name</label>
                      <input type="text" class="form-control" placeholder="" id="first">
                   </div>
                </div>
                <div class="col-md-6">
                   <div class="form-group">
                      <label for="last">Last Name</label>
                      <input type="text" class="form-control" placeholder="" id="last">
                   </div>
                </div>
             </div>
             <div class="row">
                <div class="col-md-6">
                   <div class="form-group">
                      <label for="Username">User Name</label>
                      <input type="email" class="form-control" id="email" placeholder="User Name">
                   </div>
                </div>
                <!-- <div class="col-md-6">
                   <div class="form-group">
                      <label for="phone">Phone Number</label>
                      <input type="tel" class="form-control" id="phone" placeholder="phone">
                   </div>
                </div> -->
             </div>
             <div class="row">
                <div class="col-md-6">
                   <div class="form-group">
                      <label for="Email">Email</label>
                      <input type="text" class="form-control" placeholder="" id="user Name">
                   </div>
                </div>
                <div class="col-md-6">
                   <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" id="password" placeholder="password">
                   </div>
                </div>
             </div>
             <!-- <div class="radio">
                Gender &nbsp;
                <label>
                Male: &nbsp;   <input type="radio" name="contact-preference" id="contact-preference" value="am" checked>
                Female: &nbsp;   <input type="radio" name="contact-preference" id="contact-preference" value="pm" checked>
                </label>
             </div> -->
             <div class="checkbox">
                <label>
                <input type="checkbox" value="Sure!" id="newsletter"> Sure!
                </label>
             </div>
             <button type="submit" class="btn btn-primary">Submit</button>
          </form>
       </div>
    </div>