<div class="container">
    <div class="col-md-12 from-style-m">
       <form>
          <h2 class="text-center">Contact Us</h2>
          <div class="row ">
             <div class="col-md-4">
                <div class="form-group">
                   <label for="first"> Employee_id</label>
                   <input type="text" class="form-control" placeholder="Employee_id" id="Employee_id">
                </div>
             </div>
             <div class="col-md-4">
                <div class="form-group">
                   <label for="last">first_name</label>
                   <input type="text" class="form-control" placeholder="first_name" id="first_name">
                </div>
             </div>
             <div class="col-md-4">
                <div class="form-group">
                   <label for="last">middle_name</label>
                   <input type="text" class="form-control" placeholder="middle_name" id="middle_name">
                </div>
             </div>
          </div>
          <div class="row">
             <div class="col-md-4">
                <div class="form-group">
                   <label for="last_name">last_name</label>
                   <input type="last_name" class="form-control" id="v" placeholder="last_name">
                </div>
             </div>
             <div class="col-md-4">
                <div class="form-group">
                   <label for="phone">prior_last_name</label>
                   <input type="tel" class="form-control" id="prior_last_name" placeholder="prior_last_name">
                </div>
             </div>
             <div class="col-md-4">
                <div class="form-group">
                   <label for="phone">suffix</label>
                   <input type="tel" class="form-control" id="suffix" placeholder="suffix">
                </div>
             </div>
          </div>
          <div class="row">
             <div class="col-md-4">
                <div class="form-group">
                   <label for="address_1">address_1</label>
                   <input type="text" class="form-control" placeholder="address_1" id="address_1">
                </div>
             </div>
             <div class="col-md-4">
                <div class="form-group">
                   <label for="address_2">address_2</label>
                   <input type="address_2" class="form-control" id="address_2" placeholder="address_2">
                </div>
             </div>
             <div class="col-md-4">
                <div class="form-group">
                   <label for="city">city</label>
                   <input type="city" class="form-control" id="city" placeholder="city">
                </div>
             </div>
          </div>
          <div class="row ">
               <div class="col-md-4">
                  <div class="form-group">
                     <label for="first">state</label>
                     <input type="text" class="form-control" placeholder="" id="first">
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="form-group">
                     <label for="last">zip_code</label>
                     <input type="text" class="form-control" placeholder="" id="last">
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="form-group">
                     <label for="last">country</label>
                     <input type="text" class="form-control" placeholder="" id="last">
                  </div>
               </div>
            </div>
            <div class="row ">
                  <div class="col-md-4">
                     <div class="form-group">
                        <label for="first">disability</label>
                        <input type="text" class="form-control" placeholder="" id="first">
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="form-group">
                        <label for="last">ethnicity</label>
                        <input type="text" class="form-control" placeholder="" id="last">
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="form-group">
                        <label for="last">smoker</label>
                        <input type="text" class="form-control" placeholder="" id="last">
                     </div>
                  </div>
               </div>
               <div class="row ">
                     <div class="col-md-4">
                        <div class="form-group">
                           <label for="first">veteran</label>
                           <input type="text" class="form-control" placeholder="" id="first">
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="form-group">
                           <label for="last">birth_date</label>
                           <input type="text" class="form-control" placeholder="" id="last">
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="form-group">
                           <label for="last">employee_status_effective_date</label>
                           <input type="text" class="form-control" placeholder="" id="last">
                        </div>
                     </div>
                  </div>
                  <div class="row ">
                        <div class="col-md-4">
                           <div class="form-group">
                              <label for="first">employee_status</label>
                              <input type="text" class="form-control" placeholder="" id="first">
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="form-group">
                              <label for="last">hire_date</label>
                              <input type="text" class="form-control" placeholder="" id="last">
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="form-group">
                              <label for="last">rehire_date</label>
                              <input type="text" class="form-control" placeholder="" id="last">
                           </div>
                        </div>
                     </div>
                     <div class="row ">
                           <div class="col-md-4">
                              <div class="form-group">
                                 <label for="first">termination_date</label>
                                 <input type="text" class="form-control" placeholder="" id="first">
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="form-group">
                                 <label for="last">user_account_deactivation_date</label>
                                 <input type="text" class="form-control" placeholder="" id="last">
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="form-group">
                                 <label for="last">department</label>
                                 <input type="text" class="form-control" placeholder="" id="last">
                              </div>
                           </div>
                        </div>
                        <div class="row ">
                              <div class="col-md-4">
                                 <div class="form-group">
                                    <label for="first">division</label>
                                    <input type="text" class="form-control" placeholder="" id="first">
                                 </div>
                              </div>
                              <div class="col-md-4">
                                 <div class="form-group">
                                    <label for="last">employment_type</label>
                                    <input type="text" class="form-control" placeholder="" id="last">
                                 </div>
                              </div>
                              <div class="col-md-4">
                                 <div class="form-group">
                                    <label for="last">is_supervisor_reviewer</label>
                                    <input type="text" class="form-control" placeholder="" id="last">
                                 </div>
                              </div>
                           </div>
                           <div class="row ">
                                 <div class="col-md-4">
                                    <div class="form-group">
                                       <label for="first">job_title</label>
                                       <input type="text" class="form-control" placeholder="" id="first">
                                    </div>
                                 </div>
                                 <div class="col-md-4">
                                    <div class="form-group">
                                       <label for="last">position</label>
                                       <input type="text" class="form-control" placeholder="" id="last">
                                    </div>
                                 </div>
                                 <div class="col-md-4">
                                    <div class="form-group">
                                       <label for="last">is_deleted</label>
                                       <input type="text" class="form-control" placeholder="" id="last">
                                    </div>
                                 </div>
                              </div>
                              <div class="row ">
                                    <div class="col-md-4">
                                       <div class="form-group">
                                          <label for="first">First Name</label>
                                          <input type="text" class="form-control" placeholder="" id="first">
                                       </div>
                                    </div>
                                    <div class="col-md-4">
                                       <div class="form-group">
                                          <label for="last">cost_code</label>
                                          <input type="text" class="form-control" placeholder="" id="last">
                                       </div>
                                    </div>
                                    <div class="col-md-4">
                                       <div class="form-group">
                                          <label for="last">annual_salary</label>
                                          <input type="text" class="form-control" placeholder="" id="last">
                                       </div>
                                    </div>
                                 </div>
          <div class="radio">
             Gender &nbsp;
             <label>
             Male: &nbsp;   <input type="radio" name="contact-preference" id="contact-preference" value="am" checked>
             Female: &nbsp;   <input type="radio" name="contact-preference" id="contact-preference" value="pm" checked>
             </label>
          </div>
          <div class="checkbox">
             <label>
             <input type="checkbox" value="Sure!" id="newsletter"> Sure!
             </label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
       </form>
    </div>
 </div>