
    <section id="login-box">
       <div class="container">
          <div class="row">
               <div class="col-md-5">
                     <div class="row">
                        <div class="col-md-12 login">
                           <img src="../../assets/navino_trans.png" class="img-responsive text-navino">
         
                           <div class="link">
                              <ul>
                                 <li>&nbsp;<a routerLink="../register">Signup</a></li>
                                 <li class="margin"><a routerLink="../login">Login</a></li>
                              </ul>
         
                           </div>
         
                           <form class="from-margin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                              
                                 <div class="form-row col-md-12">
                                       <div class="form-group col-md-6">
                                          <input type="Frist_name" class="form-control input-1" id="inputPassword4" placeholder="First_name">
                                       </div>
                                       <div class="form-group col-md-6">
                                          <input type="Last_name" class="form-control input-2" id="inputPassword4" placeholder="Last_name">
                                       </div>
                                    </div>

                                    <input type="User_name"  class="form-control " placeholder="Usermame" formControlName="username"
                                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }">

                              <input type="text"  class="form-control  input-margin" placeholder="username" formControlName="username"
                                 [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
               
                              <input type="password"  class="form-control input-margin"  placeholder="password"
                                 formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                 <div class="btn-margin">
                                    <button type="submit" name="button" class="btn btn-color login_btn">Login</button>
                                 </div>
                           </form>
                          
                           <div class="link-margin">
                              <a href="#">Forgot your password?</a>
                           </div>
                        </div>
                     </div>
                  </div>
          </div>
       </div>
    </section>
   